sudo: required
cache: bundler
language: ruby

services:
  - docker

before_install:
  - bundle install

env:
  matrix:
    - INSTANCE: deb-debian-9
    - INSTANCE: deb-ubuntu-1804
    - INSTANCE: centos-centos-7

script:
  - bundle exec kitchen verify ${INSTANCE}

