packages:
  pkgs:
    # A dict of "package: version" pairs:
    held:
      alien: 8.95
      iotop: 0.6-2

    # Alternativelly, held packages can also be specified as a list with
    # no versions. In this case, the package will be held in the installed
    # version.
    # held:
    #   - alien
    #   - iotop
    wanted:
      - git
      - less
      - bc
      - curl
      - fail2ban
    unwanted:
      - avahi-daemon
    required:
      pkgs:
        - git
  pips:
    wanted:
      - dxpy
      - attrs
    unwanted:
      - campbel
      - reverse_geocode
      - indy-crypto
  gems:
    wanted:
      - progressbar
      - minitest
    unwanted:
      - diff-lcs
      - kitchen-vagrant
      - kwalify
  snaps:
    wanted:
      - hello-world
    classic:
      - test-snapd-hello-classic
    unwanted:
      - goodbye-world

  remote_pkgs:
    zoom: 'https://zoom.us/client/latest/zoom_amd64.deb'

